[2017-03-14 21:01] jessegreenberg opened #1 "generalize force model"
The common model was pulled from gravity-force-lab, but some work will need to be done to generalize it so that it works well for both gravity-force-lab-basics and coulombs-law as well.

[2017-04-07 16:01] phet-steele opened #2 "Apply standard label set"

[2017-04-07 16:02] phet-steele opened #3 "Error: Assertion failed: Cannot register two different instances to the same id: ..."
[code]

[2017-04-07 16:03] #2 closed

[2017-04-07 21:16] jessegreenberg commented on #3
Thanks @phet-steele, fixed above.  closing.

[2017-04-07 21:16] #3 closed

[2017-04-26 20:53] jessegreenberg opened #4 "Type names should be consistent"
Right now, types use a mix of naming strategies like

```ISLCheckboxPanel``` ```InverseSquareLawCommonConstants``` and ```InverseSquareLawModel```.

Personally I like the pattern```ISLType```, but the naming should be consistent.

[2017-05-03 18:00] jessegreenberg opened #5 "Logic in ISLForceArrowNode.redrawForce"
```ISLForceArrowNode.redrawForce``` has

```var valueSign = value >= 0 ? -1 : 1;```

to determine direction of the arrow, but that seems backwards to me.  It works in coulombs-law, but makes the directions backwards in the gravity-force-lab sims.  Can we switch the valueSign and change the way force is calculated in coulombs-law?

[2017-05-03 18:58] jessegreenberg commented on #5
I see, it isn't a problem with the forces in coulombs-law, its that the different sims have different sign conventions.  gravity-force-lab-basics and gravity-force-lab shows attractive forces when force is positive, while coulombs-law shows attractive forces as negative.

[2017-05-03 19:03] jessegreenberg commented on #5
Added an option to ISLForceArrowNode that specifies whether forces should be represented as positive/negative when attractive/repulsive.

[2017-05-03 19:03] #5 closed

[2017-05-03 19:17] jessegreenberg opened #6 "Objects with limited position can get pushed off the grid"
When moving objects that are restrained to certain values, they can get pushed off the grid.  Happens in coulombs-law and gravity-force-lab-basics.  Usually happens when sliding the left object close to the right one.

[2017-05-03 19:27] jessegreenberg commented on #6
Snapping object locations to the specified model positions is handled in the drag handler, but positions are also updated in ```step```.  ```snapToNearest``` should be tracked by ```InverseSquareLawModel``` and handled  both the ```ObjectNode``` dragHandler and in ```step``` so that when positions are corrected in ```step``` they remain on the grid.

[2017-05-03 20:59] jessegreenberg commented on #6
Should be fixed by the above commit.

[2017-05-03 20:59] #6 closed

[2017-05-04 19:02] jessegreenberg opened #7 "Ruler drag bounds should be in model coordinates"
Now that rulers are in model coordinates, the drag bounds should be updated accordingly. They are currently in view coordinates

[code]

And should be updated accordingly.

[2017-06-29 19:17] pixelzoom opened #8 "change license to GPL"
per https://github.com/phetsims/circuit-construction-kit-common/issues/383#issuecomment-312072216

[2017-06-29 19:21] jessegreenberg commented on #8
License changed in the above commit, closing.

[2017-06-29 19:21] #8 closed

[2017-07-18 23:47] jessegreenberg opened #9 "Layering issues with mass/charge nodes"
From https://github.com/phetsims/gravity-force-lab-basics/issues/14.  The object nodes are self contained, but this creates layering problems because the arrows and labels of one object will be layered under the dashed line of another object.

![](https://user-images.githubusercontent.com/4051174/27750998-87d222fa-5d97-11e7-9d08-0316cebf0ba6.PNG)

They need to be structured differently, or there n

[2017-07-18 23:48] jessegreenberg commented on #9
Or the arrows and labels need to be removed completely from ObjectNode, so client can add them direclty to a ScreenView.  I like this option best.

[2017-07-18 23:50] jessegreenberg commented on #9
That option seems best, and makes it impossible to "forget" to add arrows and labels. ObjectNode constructor is pretty large, so this will also make ObjectNode easier to read.

[2017-07-18 23:52] jessegreenberg commented on #9
Actually I think in the initial work to generalize inverse-square-law-common we did some refactoring to make all ObjectNode components self contained in the one file.  Unfortunately, with the layering problems, I think we are going to have to proceed with https://github.com/phetsims/inverse-square-law-common/issues/9#issuecomment-316230933

[2017-08-03 16:52] samreid opened #10 "Questions about the step function"
@jessegreenberg said he had questions about the step function.  It looks like there is a numerical solution to adjusting the positions within constraints which was added in this commit:
https://github.com/phetsims/gravity-force-lab/commit/293f8b4f1cdf3edeca96b70e0920d28d47e61937

I suspect there is an analytical solution to this which may be simpler and more direct (and not susceptible to failure

[2017-08-03 17:11] jessegreenberg opened #11 "Fix puller image"
During status meeting @arouinfar noticed that one of the images arms were too low.  Comparing the checked in images, it looks like pull_figure_24.png is the problem.  @mbarlow12 we might have the wrong image checked in, we compared pull_figure_24.png to the latest images that provided by @arouinfar and the arms look lower in our image.

Would you mind updating the image?

[2017-08-03 17:15] mbarlow12 commented on #10
Yesterday, @jessegreenberg and I discussed using Property.multilink() to check bounds & overlap on any change to radius or position on either object. We were unsure if there was a particular reason that checking was implemented in step in the first place.

Also, I'm hoping to find a better solution that empirically setting the width of the puller group in the model. Since the puller & rope are pur

[2017-08-03 17:51] jessegreenberg commented on #10
Thanks @samreid that was one thought we had.  As @mbarlow12 mentioned, we were also wondering about taking the solution out of step and linking to location and radius Properties.

I found it confusing that object location is corrected in the drag handler (in view coordinates) and in the step function (in model coordinates).  Since there is handling in step, it doesn't seem like the drag handler co

[2017-08-03 17:57] mbarlow12 commented on #10
Sure—my thought was that the model would only restrict the location of the charge/mass object themselves, ignoring the size of the puller. Then either the screenView or object node would offer a separate constraint that would take the puller's width into account.

I'm not sure if this is a good approach, but I think that it keeps the view and model and little more cleanly separated.

[2017-08-03 17:59] mbarlow12 commented on #11
Thanks for spotting—I'll update in the next commit.

[2017-08-03 23:02] jessegreenberg commented on #9
I took a stab at moving the arrow out of ObjectNode.  But there are a few things that are problematic to me.

1) Every ScreenView from an inverse-square-law-common sim will need to register listeners to force to update the arrow node.
2) Every ScreenView will need to handle positioning of the arrow nodes.

This will result in a lot of similar but unique code for each flavor of inverse-square-law-c

[2017-08-03 23:41] jessegreenberg commented on #9
@mbarlow12 I took a stab at this and tested it out in coulombs-law.  Would you mind reviewing?

[2017-08-03 23:45] jessegreenberg commented on #4
@mbarlow12 Ill assign this to both of us for whoever gets to it first.

[2017-08-03 23:46] jessegreenberg commented on #4
Regarding the comment in https://github.com/phetsims/inverse-square-law-common/issues/4#issue-224595995, after sitting for a while, I think the best names for types in this repo are ```ISLCType```, since it follows naming conventions for other sims which build an acronym based on the repo name.

[2017-08-03 23:47] jessegreenberg commented on #4
So ```ISLCQueryParameters```, ```ISLCObjectNode```, ```ISLCModel```, and so on.

[2017-08-03 23:49] jessegreenberg commented on #1
The force is now calculated in InverseSquareLawModel (to be renamed in #4) with
[code]

This seems pretty general to me!  @mbarlow12 is there anything else to do in this issue?

[2017-08-03 23:50] jessegreenberg opened #12 "ISLRuler should be renamed"
ISLRuler sounds like a model type.  Should have "Node" as a suffix.

[2017-08-04 00:06] jessegreenberg commented on #7
The ruler won't be constrained at all until this is fixed.

[2017-08-04 00:21] jessegreenberg commented on #7
Fixed in the above commit, ruler constrained to model bounds.

[2017-08-04 00:21] #7 closed

[2017-08-04 16:22] jessegreenberg opened #13 "continuous testing error"
[code]

Probably introduced in commits for #12?

[2017-08-04 16:43] mbarlow12 commented on #13
There's an extra width argument passed to the Ruler constructor. I'll get it in my next commit.

[2017-08-04 16:45] jessegreenberg commented on #13
Thanks @mbarlow12! Ill assign to you

[2017-08-04 16:46] jessegreenberg commented on #12
Done, but likely introduced #13.  Fix will be tracked in that issue, closing this one.

[2017-08-04 16:46] #12 closed

[2017-08-04 17:13] jessegreenberg opened #14 "zero force image pusher visible when force isn't zero"
This is might be good for coulombs-law (I am not sure), but it is a problem for gravity-force-lab-basics and gravity-force-lab.

I think the main problem is that the zero force image is added to the collection of pull images, which is used by GFL and GFLB.  Moving to the other collection might fix this problem.

But I think PullerPusherNode might be more clear if zeroForceImage wasn't in either co

[2017-08-04 17:17] jessegreenberg commented on #14
@mbarlow12 do you have any thoughts about this?  Would you be OK separating the zero force image?

[2017-08-04 17:58] mbarlow12 commented on #14
I think the difficulty is that we're iterating over the array of images and setting the visibility. If we keep it separate, then we need to first find the currently visible image, hide it, and display the zero image.

The other solution is to only include the zeroForceImage in the collection when attractNegative is true instead of including it in pullImages at the outset.

[2017-08-04 18:07] jessegreenberg commented on #14
@mbarlow12 do you have a preference? I prefer the first solution.

This doesn't seem like too much of an issue to me.  I find it more confusing that zeroForceImage is in either group since it is neither a puller nor a pusher.

[2017-08-04 18:31] #11 closed

[2017-08-04 18:40] mbarlow12 commented on #14
@jessegreenberg The zeroForceImage is now separate, and if attractNegative is true, our array construction is:

`this.pullerPusherImages = pushImages.concat( zeroForceImage ).concat( pullImages );`

Does that work for you?

[2017-08-04 18:43] #13 closed

[2017-08-04 18:43] jessegreenberg commented on #14
I think that should work @mbarlow12, thanks!

Did you mean to commit the change to the step function?  I am seeing some strange behavior now.

[2017-08-04 18:47] jessegreenberg commented on #14
But I verified that the images look good in gravity-force-lab-basics. Closing.

[2017-08-04 18:47] #14 closed

[2017-08-04 19:01] mbarlow12 commented on #10
@jessegreenberg would you check over my update for this? Thanks!

[2017-08-04 19:04] mbarlow12 commented on #9
Looks good to me. We may just want to consider using a different emitter. It's now the only part of the step function. Thoughts @jessegreenberg ?

[2017-08-04 19:07] mbarlow12 commented on #1
Long completed—closing.

[2017-08-04 19:07] #1 closed

[2017-08-07 22:20] jessegreenberg commented on #10
Thanks @mbarlow12 I think this is the right idea.  I am noticing some strange behavior after the update though, could you please take a look?  For instance, it is possible to get the objects to overlap, and the objects are on top of each other after pressing reset all.

[2017-08-07 22:43] jessegreenberg commented on #10
It looks like the new solution removed ```PULL_OBJECT_WIDTH``` (an empirically determined constant), but the calculation only considers radius and min separation.  Will it be accurate without considering the width of the puller/pusher?

[2017-08-07 22:51] jessegreenberg commented on #10
@mbarlow12 could you add some documentation about how using the new approach with ```currentMidPoint``` is working?

[2017-08-07 22:57] jessegreenberg commented on #10
[code]

If I understand correctly, should these corrections include the object radius?

[2017-08-07 23:10] jessegreenberg commented on #10
It looks like we are setting the position of both objects after left and right boundary conditions, I am wondering if this is why the objects are doing some overlapping now?

[code]

[2017-08-08 01:56] samreid commented on #10
@zepumph and I identified a problem with this implementation in #91, @jessegreenberg and @mbarlow12 can you please investigate?

[2017-08-08 13:52] mbarlow12 commented on #10
@samreid I reimplemented the old step function and commented out my changes, so the fuzz issue is at least patched for now. I'd hoped the recursive strategy might not cause any issues outside of the function itself. We'll find another solution.

@jessegreenberg the midpoint strategy was in an effort to avoid the incremental adjustments to position that were there previously. I'd also thought that

[2017-08-08 23:54] jessegreenberg commented on #10
@mbarlow12 and I worked on this today.  We came up with a solution used in step to restrict min and max positions of each object.  It is working nicely, and no longer causes the problem in phetsims/gravity-force-lab#91.

It is working great except that sometimes in coulombs law, I am sometimes able to push one of the charges with another charge.

[2017-08-09 17:14] jessegreenberg commented on #9
@mbarlow12 and I talked about this today.  Since the step function has been added back in #10, it seems fine to keep this emitter for now.  Closing.

[2017-08-09 17:14] #9 closed

[2017-08-15 17:50] mbarlow12 commented on #4
InverseSquareLawCommonConstants --> ISLCConstants

[2017-08-17 17:57] mbarlow12 opened #15 "Handle all bounds in sim models"
To improve consistency across inheriting sims (Gravity Force Lab, Gravity Force Lab Basics, and Coulomb's Law), we would like a single number in each model (including sim screens) to be checked for all object and node positions.

[2017-08-23 18:32] mbarlow12 opened #16 "Set arrow force ranges programmatically"
We're empirically setting the ranges used in the ISLForceArrow linear functions. This has led to some unexpected behavior when updating model or view scales and/or dimensions (like https://github.com/phetsims/coulombs-law/issues/19).

We need to map the model force directly to the arrow length in view coordinates.

[2017-08-24 15:30] mbarlow12 commented on #4
InverseSquareLawObject -> ISLCObject

[2017-08-24 15:40] mbarlow12 commented on #4
ObjectNode -> ISLCObjectNode

[2017-08-24 15:43] mbarlow12 commented on #4
Remaining types:

- [ ] InverseSquareLawGridNode
- [ ] ObjectControl
- [ ] PullerPusherNode

[2017-08-28 22:02] jessegreenberg opened #17 "Shadow under pullers no longer change size"
It looks like the shadows under pullers no longer change size when the force changes.  Here is GFL master:
![pull2](https://user-images.githubusercontent.com/6396244/29795614-30f231c2-8c0a-11e7-8f75-23c7e9b52ca9.PNG)

and deployed version:
![pull](https://user-images.githubusercontent.com/6396244/29795617-36832592-8c0a-11e7-8e5f-137fd2341907.PNG)

(The rope length is a separate issue, specific to

[2017-08-28 22:21] jessegreenberg opened #18 "Right of pull images needs to be adjusted for GFL and GFLB"
From https://github.com/phetsims/gravity-force-lab-basics/issues/19, the pullers were separated from their ropes. ISLCPullerNode has this code:

[code]

i / 5 doesn't quite work for GFL and GFLB.  Instead, could we offset by a portion of the image widths?

[2017-08-28 22:22] jessegreenberg commented on #18
```images[ i ].right += 0.3 * images[ i ].width;``` seems to look good as well.

[2017-08-28 22:24] jessegreenberg commented on #18
Pushed, closing.

[2017-08-28 22:24] #18 closed

[2017-08-28 22:28] mbarlow12 commented on #17
The trouble here is that the deployed version has changing image widths for the pullers, and the Path node for the shadow can be scaled accordingly.  Since the new puller images don't have that value, we'd need to find another method to expand and contract the shadow.

The only other value that changes with the images is the index as we loop over them. So there may be a way to create varying sizes

[2017-08-28 23:16] jessegreenberg commented on #17
I see, thanks for clarifying. I agree that tying to the puller index seems problematic for the reasons you described. And linking to the force is also problematic because it grows exponentially.

[2017-08-29 01:11] #16 closed

[2017-08-30 00:05] jessegreenberg commented on #17
I created a linear mapping from force to shadow radius.  I changed the implementation so that there is only  one shadow that gets updated (rather than one for each image) which made it easier to mutate the shadow.

[2017-08-30 00:08] jessegreenberg commented on #17
![capture](https://user-images.githubusercontent.com/6396244/29849576-fcce46ca-8ce4-11e7-9969-2d16f1eb50b9.PNG)

Looking good, we can tweak the shadow size if necessary at another time.

[2017-08-30 00:08] #17 closed

[2017-08-30 17:17] mbarlow12 commented on #15
All model and view items now reference the model bounds. Closing until code review.

[2017-08-30 17:17] #15 closed

[2017-08-30 17:56] mbarlow12 commented on #10
Seems like this is done. Closing.

[2017-08-30 17:56] #10 closed

[2017-08-30 17:57] mbarlow12 commented on #4
Completed—closing.

[2017-08-30 17:57] #4 closed

[2017-09-21 17:29] jessegreenberg opened #19 "Initial code review"
While waiting for feedback on other issues, we could start an initial code review before dev testing and the formal review. Here is the code review checklist. @mbarlow12 would you mind going through this checklist?

Please mark failed items with ❌ (or just checked off when changes are made for this one).

PhET code-review checklist
=============

#### **Build and Run Checks**

- [x] Does the sim b

[2017-11-16 16:16] mbarlow12 opened #20 "Credits"
Ensuring that the Credits section for this repo is correct.

[2017-11-29 18:18] mbarlow12 commented on #19
Completed. All inheriting sims functioning and passing grunt tests. Ready for dev testing.

[2017-11-29 18:18] #19 closed

[2017-12-14 20:25] jessegreenberg opened #21 "Arrow scaling for ISLC sims"
Continued discussion ffrom https://github.com/phetsims/coulombs-law/issues/27. We would like to discuss how arrow scaling should work for all sims that use this repo.

Initial questions:
- How should arrows look when they are really small? Can they disappear at really small values?
- Is it OK that at larger forces arrows go way off screen?
- Why was there some scaling for force arrows in GFL? At v

[2017-12-14 20:58] jessegreenberg opened #22 "Sim size"
When we add the "atomic" pushers, sims that use this repo will have a lot of images.

32 pull images * 32 push images * 2 (one set for atomic, one set for macro) = 128 images.

Each image is 20-30KB, so that will total to ~3.84 MB in images alone. So the sim will likely total around 4.5 MB which is much larger than most sims right now.

@ariel-phet thoughts on whether or not this is OK? In the mea

[2017-12-14 21:17] ariel-phet commented on #22
@jessegreenberg I thought FAMB uses a similar strategy (lots of images). How much total image space is being used in FAMB?

[2017-12-14 21:19] ariel-phet commented on #22
Looks to me like each of the pusher pictures is around 5-6 KB

[2017-12-14 23:22] jessegreenberg commented on #22
Excellent, @arouinfar verified that the images can be exported at about 8 KB, which should keep the sim <2.5 MB.

[2017-12-14 23:29] jessegreenberg opened #23 "Add atomic pushers"
coulombs-law needs new images for the pushers used in the atomic screen.

@arouinfar will send assets to @mbarlow12 to add.

We also need to decide how they should be added and I see a few options since they will add ~.5MB to the sim.

- Add images to ISLCPullerNode, enabling them optionally. This will add 0.5MB to GFL and GFL:B, even though those sims do not use these images. But the code will be

[2017-12-14 23:31] jessegreenberg commented on #23
@mbarlow12 what do you think?

[2017-12-14 23:32] jessegreenberg commented on #22
New images will be exported and added as part of #23, so closing this issue.

[2017-12-14 23:32] #22 closed

[2017-12-14 23:52] jessegreenberg commented on #20
Since this is a common repo, credits do not apply. As long as https://github.com/phetsims/coulombs-law/issues/34 is taken care of we should be good to go.

[2017-12-15 00:24] #20 closed

[2017-12-15 22:47] arouinfar commented on #23
Assets have been emailed to @mbarlow12 and @jessegreenberg.

[2017-12-18 20:56] jessegreenberg commented on #21
Assigning to @arouinfar to consider or bring up for design discussion.

[2017-12-18 22:35] arouinfar commented on #21
I see two options here:

1. As F -> 0, arrow length -> 0. The force vectors for very small -- but non-zero -- forces will appear to be zero.
2. There is some minimum allowed length (such as the arrow tip), after which the vector does not shrink any further. However, if a F == 0 (meaning q = 0) the vector would still disappear.
![image](https://user-images.githubusercontent.com/8419308/34130918-ea5

[2017-12-18 22:41] jessegreenberg commented on #21
I share the same preferences unless there is a reason to keep some portion of the arrow visible always.

[2017-12-18 23:05] jessegreenberg opened #24 "branch: augmented-arrows"
Branch is a snapshot of sim behavior as of 12/18/17, to save progress as we explore #21. Arrows have some "augmented" min width so that they are always visible. In #21, we are going to try removing this.

[2017-12-19 00:41] jessegreenberg commented on #21
After a slack discussion with  @arouinfar we decided to go ahead and remove the "hollywood" scaling in master so that we can see how changing this would impact GFL and GFL:B. That is done with the above commits.

[2017-12-19 20:31] arouinfar commented on #21
On Slack @jessegreenberg said:

Thanks for removing the Hollywooding on master @jessegreenberg! I think the vector scaling in GFL and GFLB looks and feels pretty good. I prefer how the arrow tips disappear in CL, but could live with them staying behind if others had a strong preference for that.

[2017-12-21 17:19] jessegreenberg commented on #21
I agree with this.

[2017-12-28 18:31] ariel-phet commented on #21
@jessegreenberg @arouinfar - I don't remember why things were done a certain way (in terms of hollywooding for GFL), it could have been an MLL decision that we just never fixed, or vestigial from the original sim.

That being said, I think CL looks very good, and I like the way the arrow tips disappear in that one. Seems like that should be that strategy for all ISLC sims.

[2017-12-28 21:14] jessegreenberg commented on #21
Great, thanks @arouinfar and @ariel-phet. @mbarlow12 could you work on this? I think this could be as easy as removing this line

[code]

but I haven't verified or tested.

[2018-01-04 15:00] mbarlow12 commented on #23
New images for atomic pullers/pushers have been uploaded; however, with the updates from https://github.com/phetsims/inverse-square-law-common/issues/21, the respective movement/change in the pullers and the arrows.

This can be alleviated by passing in a narrower force range to the pullers. In this case, we lose articulation at large force values where the pullers are maxed but see some movement

[2018-01-04 15:05] mbarlow12 commented on #23
Above changes were made in https://github.com/phetsims/coulombs-law/commit/9e47dd3ebb27e5062b7aa091c50b39a2852f0e22.

[2018-01-04 18:04] jessegreenberg commented on #23
@mbarlow12 nice work, the new images look great in the sim! In https://github.com/phetsims/coulombs-law/commit/9e47dd3ebb27e5062b7aa091c50b39a2852f0e22 the arrow scale constant was reduced from 50000 to 500. Was that intentional?

[2018-01-07 04:33] samreid opened #25 "Document ISLCObjectNode's enabledProperty var"
This code is in ISLCObjectNode.js

[code]

@jessegreenberg can you please document what the enabled property is for, so that I can understand how it should appear in the PhET-iO instrumentation?

Should be done before https://github.com/phetsims/gravity-force-lab-basics/issues/22 so I'll mark it with the same priority.

[2018-01-08 22:36] jessegreenberg opened #26 "Manage strings for gravity-force-lab"
This repo has code  for gravity-force-lab, gravity-force-lab-basics, and coulombs-law. We would also like to consolidate shared strings. Since gravity-force-lab has already been published we were concerned that translations would break if we move shared strings to this repo.

@jbphet is this correct? Do you have a recommendation for how to handle this?

[2018-01-08 22:51] jessegreenberg commented on #26
This issue came from https://github.com/phetsims/inverse-square-law-common/issues/26

[2018-01-08 23:12] jessegreenberg commented on #25
It is just a Property that  is required for the Node to behave like an AccessibleSlider. ISLCObjects are always enabled, but it is passed to AccessibleSlider.initializeAccessibleSlider. I added documentation for this. Assigning to @samreid in case further discussion is necessary.

[2018-01-09 00:16] jessegreenberg commented on #21
@mbarlow12 I changed the behavior so we we could proceed with phetsims/gravity-force-lab-basics#22. Would you mind reviewing to see if there is anything else to do? I dont' think the change will have any impact on coulombs-law and everything tested OK, the impact should be for gravity-force-lab and gravity-force-lab basics.

[2018-01-09 00:17] jessegreenberg commented on #23
@mbarlow12 is there anything else to do for this issue?

[2018-01-09 04:29] samreid commented on #25
Thanks for explaining this, I tried inlining it to make it more clear that it is a temporary variable just for the accessible slider, and not something stateful and persistent for the ISLCObjectNode, can you please review?  Close if it seems OK to you.

[2018-01-09 17:54] jbphet commented on #26
Indeed, this is a situation for which we don't have a very clean solution.  The general idea would be to move all the strings from GFL to common code, and do the same thing with all translations, and do a maintenance release of GFL.  While this is happening, we'd probably want to take down rosetta, or at least remove GFL from the list of translatable sims for the duration of the effort.

Also, we'

[2018-01-10 23:48] jessegreenberg commented on #26
Thanks @jbphet, it sounds like the long term solution will be to do those steps.  When we deploy a sim using this repo, we can coordinate to go through those steps. Removing assignment, but this must be done before coulombs-law or gravity-force-lab-basics is deployed.

[2018-01-10 23:49] jessegreenberg commented on #25
Thanks @samreid that looks good to me, closing.

[2018-01-10 23:49] #25 closed

[2018-01-10 23:50] jessegreenberg commented on #24
This branch should be pruned before the sim is deployed.

[2018-01-10 23:50] jessegreenberg commented on #24
Actually, we are happy with the behavior in this branch and that behavior is already in master so this branch can be pruned now.

[2018-01-10 23:53] #23 closed

[2018-01-11 00:12] mbarlow12 opened #27 "ISLCCheckboxPanel TODO clarification"
@samreid We noticed some TODOs you added in a few places and were hoping to get some clarification. For the comment referenced below, we'd hoped to avoid repeating a lot of Text and tandem creations in the various screens that use this type.

https://github.com/phetsims/inverse-square-law-common/blob/7ed73fdef0d6bf22b9a59d4b96225f5fc1c88600/js/view/ISLCCheckboxPanel.js#L47-L65

Let me know if this

[2018-01-11 01:55] samreid commented on #27
In the preceding commits, I factored out ISLCCheckboxItem as a way to share code for the text and tandem creations. `ISLCCheckboxPanel.js` is correspondingly simpler.

@jessegreenberg I had to manually merge our commits on GravityForceLabBasicsScreenView.js, can you make sure I did it correctly?

@mbarlow12 and/or @jessegreenberg can you please review the changes?  Also, I'm not too familiar with

[2018-01-11 02:09] samreid commented on #27
Oops, the preceding commit belongs in https://github.com/phetsims/capacitor-lab-basics/issues/218, sorry.

[2018-01-11 17:34] mbarlow12 commented on #27
I had some pull issues and didn't see the most recent CL changes. The above commits are redundant and don't really change anything. @samreid all the changes look ok to me. Thanks for the refactor.

[2018-01-11 19:37] jessegreenberg commented on #27
I am also having a hard time pulling these changes. @mbarlow12 were you ever able to pull?

[2018-01-11 19:40] mbarlow12 commented on #27
Yes—I wasn't sure if it was a strange error with my text editor, but I pulled and rebased.  Since the sim was working and grunt was clean, I pushed my commits as well.

[2018-01-11 19:50] jessegreenberg commented on #27
Hmm, looks like I do have everything. New type ISLCCheckBoxItem wasn't appearing in my local copy but it is there now.

[2018-01-11 19:53] mbarlow12 commented on #21
@arouinfar Do you have time tomorrow to go over the arrow scaling? The tweaks are quick to make, but it will likely be faster to sit down and hash it out than back and forth via github. Let @jessegreenberg or me know.  Thanks!

[2018-01-11 19:58] arouinfar commented on #21
@mbarlow12 @jessegreenberg I'll be out of the office tomorrow, but could do a zoom chat before 11 am tomorrow. I'm also available after 3:00 this afternoon.

[2018-01-11 20:28] jessegreenberg commented on #21
I am free tomorrow morning from 9am to 10:30am. I will likely be free this afternoon after 4pm.

[2018-01-11 21:46] mbarlow12 commented on #21
9am tomorrow works for me.

[2018-01-16 19:07] mbarlow12 commented on #27
@jessegreenberg any reason I shouldn't close this?

[2018-01-19 20:01] #27 closed

[2018-01-19 20:02] mbarlow12 opened #28 "Move baseColor to common types"
From @samreid TODO in GFLB. Just making an issue to track.

[2018-01-23 01:39] jessegreenberg commented on #21
I believe we are OK with current behavior, can this be closed @arouinfar and @mbarlow12?

[2018-01-23 17:25] mbarlow12 commented on #21
I vote yes.

[2018-01-23 18:22] arouinfar commented on #21
Agreed @mbarlow12.

[2018-01-23 18:22] #21 closed

[2018-02-08 17:51] pixelzoom opened #29 "branch: development"
Identified by `print-branches.sh`.  Most recent commits by @jessegreenberg and @mbarlow12. Please describe.

[2018-02-08 18:24] mbarlow12 commented on #29
It's now unnecessary. Closing and deleting branch.

[2018-02-28 18:40] jessegreenberg opened #30 "Code Review"
This repo requires code review for https://github.com/phetsims/gravity-force-lab-basics/issues/49. This repo should be reviewed first, it handles the majority of GFLB.

#### **Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable, compared to other similar sims?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Do

[2018-02-28 18:41] jessegreenberg commented on #30
Note this repo is not runnable, many items will not apply.

[2018-02-28 20:36] jessegreenberg commented on #30
Re

I took heap snapshots of GFLB every 10 seconds or so and observed the following:
![capture](https://user-images.githubusercontent.com/6396244/36811771-3162a08e-1c8c-11e8-9373-3cb485d27900.PNG)

We can see the heap stabilize at around 26 MB

[2018-02-28 22:57] jessegreenberg opened #31 "Rename Mass.js to ISLCMass.js"
Considering the naming of types in this repo and the fact that there are other "Mass" types for other sims in the project, I might recommend renaming Mass to  ISLCMass. Thoughts @mbarlow12?

[2018-02-28 22:57] jessegreenberg commented on #31
For #30

[2018-02-28 23:22] mbarlow12 commented on #31
I don't think I agree, and I'm not sure that it belongs in the common repo. I'd vote to either 1) move it to both GFL & GFLB or 2) move it to GFL and inherit it in GFLB. They both have some trade offs, but I think it's a cleaner code organization/hierarchy.

[2018-02-28 23:32] jessegreenberg commented on #31
Can you elaborate? What is the benefit of having GFLB dependent on GFL? At the moment all three sims are only dependent on inverse-square-law-common.

[2018-02-28 23:35] jessegreenberg commented on #31
Ah, maybe you were thinking types in ISLC should be agnostic of mass or charge?

[2018-02-28 23:37] jessegreenberg commented on #31
If that is the case I do prefer option 2 of https://github.com/phetsims/inverse-square-law-common/issues/31#issuecomment-369418936 to avoid duplicated code. @mbarlow12 would you mind working on this transition if you think it is best? gravity-force-lab will need to be added as a dependency to gravity-force-lab-basics in package.json.

[2018-02-28 23:40] jessegreenberg opened #32 "ISLCModel.step use "mass" in variable names"
Considering ISLCModel handles either masses or charges I think variables in step should reference 'objects'. @mbarlow12 can you please work on this?

For #30

[2018-02-28 23:49] mbarlow12 commented on #31
@jessegreenberg sure thing.

[2018-03-01 00:22] jessegreenberg opened #33 "Fill in JSDoc type documentation for functions in ISLCForceArrowNode"
Functions in ISLCForceArrrowNode are missing type documentation for params, can you fill them in @mbarlow12?

For #30.

[2018-03-01 00:39] jessegreenberg opened #34 "Move ISLCObjectNode arrowOptionKeys to constants?"
I believe the options defined in arrowOptionKeys are not instance specific and it might be more conventional to have these documented as a constant above the constructor. @mbarlow12 thoughts?

for #30

[2018-03-01 00:39] jessegreenberg commented on #34
Ditto for pullerOptionKeys?

[2018-03-01 00:51] #31 closed

[2018-03-01 00:58] jessegreenberg opened #35 "What is zeroForceIndex and why is it 31?"
For #30. ISLCPullerNode has

[code]
@mbarlow12 can you please include documentation about why it is necessary to keep a reference to zeroForceIndex? Also, could zeroForceIndex be set without the magic number? Would this work?

[code]

[2018-03-01 01:04] jessegreenberg opened #36 "keyboardDragListener in ISLCRulerNode no longer needs to be public"
Since KeyboardDragListener is no longer stepped I don't think it needs to be a public instance variable anymore.

For #30.

[2018-03-01 01:09] jessegreenberg commented on #36
Done, closing.

[2018-03-01 01:09] #36 closed

[2018-03-01 17:07] jessegreenberg opened #37 "Make sure every property and function has a visibility annotation"
From the review checklist:

Majority do, but I did see a few throughout that were missing. @mbarlow12 can you go through  and make sure all instance functions and properties have a visibility annotation?

[2018-03-01 17:07] jessegreenberg commented on #37
For #30.

[2018-03-01 17:48] jessegreenberg opened #38 "ISLCModel.forceProperty has a todo"
From #30, just marking this as an issue. `units` option for ForceProperty has this TODO:

@mbarlow12 and/or @samreid does this need to be addressed?

[2018-03-01 22:41] jessegreenberg commented on #30
I tested these. Here are some results that convinced me that there is no leak.
![capture4](https://user-images.githubusercontent.com/6396244/36873792-c61cd87c-1d66-11e8-912e-083246458c78.PNG)

My test started at 27.9 MB. It ~0.1 MB every 30-60 seconds. But blue dots are where forced garbage collections occurred. Each time it dropped to 33.8 MB, indicating that a major garbage collection could coll

[2018-03-01 22:42] jessegreenberg commented on #30
We are aware of one issue about the ruler with keyboard input, but there is already an issue open for it.

[2018-03-01 22:54] jessegreenberg opened #39 "Sim needs an assets directory"
This repo does not have an assets directory to hold the original assets from .aigggggggggg.

@mbarlow12 can you coordinate with @arouinfar to get the original files and place them in a directory called "assets" under inverse-square-law-common?

For #30.

[2018-03-01 23:01] jessegreenberg opened #40 "What license should this repo have?"
On slack chat I said

I do not know enough to say. Currently has GPL v3, but might need a new license if it requires MIT.

[2018-03-01 23:02] jessegreenberg commented on #40
For #30.

[2018-03-01 23:04] jessegreenberg commented on #40
@samreid said:

[2018-03-01 23:14] jessegreenberg commented on #40
Found the thread: https://github.com/phetsims/tasks/issues/875,

This repo should indeed be GPL. Closing.

[2018-03-01 23:14] #40 closed

[2018-03-01 23:20] jessegreenberg opened #41 "Sim should use StringUtils.fillIn"
I see some old usages of StringUtils.format. @mbarlow12 could you please replace usages of StringUtils.format with StringUtils.fillIn?

[2018-03-01 23:21] jessegreenberg commented on #41
Hmm, actually, it is used for strings.

`force-description-pattern-target_source`
`force-description-pattern-target_source_value`

Were these keys taken from gravity-force-lab? If so maybe we don't want to modify them to make #26 easier? @mbarlow12 do you know?

[2018-03-01 23:22] jessegreenberg commented on #41
For #30.

[2018-03-01 23:43] jessegreenberg opened #42 "Enable a11y by default"
This sim is ready for default a11y! @mbarlow12 can you please enable this? Can be enabled with accessibility: true in sim options in gravity-force-lab-basics-main.js.

[2018-03-02 16:40] jessegreenberg commented on #41
By the way, this was from item

[2018-03-02 16:40] jessegreenberg commented on #42
Oops, I meant for this to be a GFLB issue, will move there.

[2018-03-02 16:40] #42 closed

[2018-03-02 17:51] arouinfar commented on #39
@jessegreenberg I believe I included the source .ai file with the .png assets, but I know we went through a few iterations on the assets, so they may be hard to track down.

I've emailed the final .ai assets to @mbarlow12. Please let me know if there's anything else you need.

[2018-03-02 18:40] jessegreenberg opened #43 "Change string keys"
For #30 and dependent on #26.  I would recommend making these keys a little more friendly for translators.
[code]
`source` and `source-value` don't really signify the purpose to me. @mbarlow12 what do  you think about
`forceOnObjectByObjectPatternString` and
`forceOnObjectByObjectWithUnitsPatternString`

Do you know if these keys were copied from gravity-force-lab strings or did we come up with th

[2018-03-02 18:42] jessegreenberg commented on #30
Code review done. This repo is in great shape @mbarlow12, nice work!

[2018-03-02 18:42] #30 closed

[2018-03-02 19:12] mbarlow12 commented on #43
Works for me.

[2018-03-02 19:37] #41 closed

[2018-03-02 19:39] mbarlow12 commented on #43
Completed, but I suppose we can wait to tackle https://github.com/phetsims/inverse-square-law-common/issues/26 until we're closer to releasing the sim. I'll keep my assignment.

[2018-03-02 20:19] samreid commented on #38
This issue is caused by https://github.com/phetsims/phet-io/issues/1292 -- inability to specify units or other NumberProperty metadata for DerivedProperties.  This doesn't need to be solved before 1.0, and I don't know how we'll proceed with https://github.com/phetsims/phet-io/issues/1292, but when I come up with a plan, I'll use this as a test case.

[2018-03-02 20:36] #39 closed

[2018-03-02 21:12] #37 closed

[2018-03-02 21:27] #35 closed

[2018-03-02 21:34] mbarlow12 commented on #34
@jessegreenberg I'm a little confused on the question. Almost all those options have different values depending on which object and/or sim is creating the instance. I suppose we could create some kind of enum type and simply pass a 'left' or 'right' option at instantiation that would handle the rest of them. Is that the idea?

[2018-03-02 21:41] #33 closed

[2018-03-02 21:46] #32 closed

[2018-03-03 00:49] jessegreenberg commented on #38
Thanks @samreid, in  that case marking as "deferred" for the 1.0 release.

[2018-03-03 00:50] jessegreenberg commented on #38
Linking this issue to the TODO.

[2018-03-03 00:55] jessegreenberg opened #44 "Update documentation for pullForceRange in ISLCObjectNode"
For phetsims/gravity-force-lab-bascis#49

The documentation for pullForceRange says

but I noticed its usage in gravity-force-lab-basics:
[code]

@mbarlow12 can you update the documentation in ISLCObjectNode to indicate that this is not the physical range of force but an empirical mapping for the view?

Also, are these values in view coordinates or are they in Newtons?

[2018-03-03 02:24] samreid commented on #38
Addressed above, went through a medium-sized merge, @jessegreenberg can you check that nothing is disturbed?

[2018-03-05 20:29] jessegreenberg commented on #38
Thanks @samreid. Removing deferred label. @mbarlow12 could you review the change?

[2018-03-05 22:33] #44 closed

[2018-03-05 23:23] mbarlow12 opened #45 "Consider removing showMockup query parameter"
As the included mockups are outdated and the sims are all nearing completion, this may offer some code reduction.

[2018-03-05 23:44] mbarlow12 opened #46 "Create common query parameter view nodes"
From https://github.com/phetsims/gravity-force-lab-basics/issues/58, it seems logical to move all dragBounds and grid displays to ISLC. To do this, we'll create a common DragBoundNode type or something similar for both parameters and conditionally create and add them to the screen views in each of the sims.

Should reduce the screen view code a good bit.

[2018-03-13 15:59] #45 closed

[2018-03-15 17:27] #43 closed

[2018-03-15 17:28] mbarlow12 commented on #26
@jessegreenberg Is the implication here that we'll need to move all strings from GFL and GFLB into ISLC regardless of whether they're specific to the sim or not?

[2018-03-15 17:33] mbarlow12 commented on #38
Reviewed. All sims seem to be running fine as well. Closing.

[2018-03-15 17:33] #38 closed

[2018-03-15 17:52] jessegreenberg commented on #26
@mbarlow12 I don't think so, it is more that translated versions of GFL will lose their translations or maybe break loudly because strings that were in gravity-force-lab-strings_xx.json are now in inverse-square-law-strings_xx.json. So we need to make sure that the movement is done for all locales.

[2018-03-15 18:23] jessegreenberg commented on #34
My thought was that the actual array arrowOptionKeys does not change for each instance, those strings are just iterated with _.pick. It also might be easier to find the arrow specific options if they are  closer to the top of the file.

ALIGNMENT_CONTAINER_OPTION_KEYS in AlignBox is kind of what I was thinking.

[2018-03-15 20:15] mbarlow12 commented on #34
Ah, yes. Sure thing!

[2018-03-15 21:05] #34 closed

[2018-04-09 19:45] arouinfar opened #47 "Update mass colors for GFL(B)"
During last week's design meeting for GFLB, we discussed changing the colors of the masses, so that the colors of the default masses would have a lower saturation. That way, the color would be more indicative of the default density, and would have some relationship to the constant radius mode. These changes would apply to both GFL and GFLB. Self-assigning for mockups.

[2018-04-11 18:37] arouinfar commented on #47
@mbarlow12 here are the updated colors. Please let me know if you have any questions!

magnitude | mass 1 | mass 2
:--- | :--- | :---
constant radius off | `rgb( 150, 150, 255 )` | `rgb( 255, 150, 150 )`
1 | `rgb( 161, 161, 255 )` | `rgb( 255, 161, 161 )`
2 | `rgb( 143, 143, 255 )` | `rgb( 255, 143, 143 )`
3 | `rgb( 125, 125, 255 )` | `rgb( 255, 125, 125 )`
4 | `rgb( 107, 107, 255 )` | `rgb( 255,

[2018-04-11 20:46] arouinfar commented on #47
I forgot to address the other ISLC sims...

In GFL, the masses are on a continuous scale and can be 1-1000 kg. There, the color of the masses in Constant Size mode varies from white to fully saturated purple.  I think we should keep the range of white to fully saturated, but instead use blue and red.

magnitude | mass 1 | mass 2
:--- | :--- | :---
constant size off | `rgb( 150, 150, 255 )` | `rgb(

[2018-05-21 17:44] phet-steele opened #48 "[GFL] Slider colors have lost their saturation"
@arouinfar can we do something about the slider colors? Here is how they look:

<img width="1187" alt="screen shot 2018-05-21 at 11 17 10 am" src="https://user-images.githubusercontent.com/5863899/40320693-c05f8f8e-5ce9-11e8-81f3-b02831fab859.png">

I don't like the washed out look of the sliders, which I believe is a consequence of the commits in #47. I believe the code chooses the slider color b

[2018-05-21 21:08] arouinfar commented on #48
Good catch @phet-steele. This is an unintended consequence of #47. We could probably change the hover color so the thumb looks more interactive, but I think the bigger problem is the general lack of thumb brightness and the poor contrast with the panels. I'd be in favor of option (1), which also works well for the `numberPicker`s in GFLB.
![image](https://user-images.githubusercontent.com/8419308/

[2018-05-22 16:46] mbarlow12 commented on #48
Ah, yes— @phet-steele  is correct, the thumbs are looking at the initial color of the mass objects. I've made the updates to set the thumb color separately.

[2018-05-22 18:17] arouinfar commented on #48
Master looks good @mbarlow12. If there isn't any outstanding work, please close.

[2018-05-22 23:32] mbarlow12 commented on #48
Thanks @arouinfar. Closing.

[2018-05-22 23:33] #48 closed

[2018-05-31 22:18] jessegreenberg opened #49 "ISLCGridNode doesn't align with model"
Not a big  deal, but the ISLCGridNode, which is useful for debugging, doesn't quite align with the model. The model behavior still looks correct without the visible grid, but it would still nice to figure out why this is.  Could be something about the drawing code in ISLCGridNode. Maybe the stroke extends outside of the shape, so the gridPosition needs to be offset by 1/2 of the lineWidth? Or mayb

[2018-05-31 22:35] arouinfar opened #50 "Verify that scientific notation uses multiplication symbol"
In discussing accessible scientific notation in https://github.com/phetsims/a11y-research/issues/105, I noticed that the multiplication symbol in ISLC sims appears to be the letter X.

![image](https://user-images.githubusercontent.com/8419308/40811767-cc3f0952-64ef-11e8-9cd1-c82d6202a01e.png)
![image](https://user-images.githubusercontent.com/8419308/40812089-44fbaee4-64f1-11e8-9a1b-b9971f11490b.

[2018-05-31 22:38] jessegreenberg commented on #50
Thanks @arouinfar, good catch. Should probably be using MathSymbols.TIMES now. Removing my assignment.

[2018-05-31 22:49] #50 closed

[2018-06-01 17:04] arouinfar opened #51 "Disable Scientific Notation when Force Values off"
In https://github.com/phetsims/coulombs-law/issues/47 we considered indenting the Scientific Notation checkbox since it has child/parent relationship with Force Values, but [ultimately decided against it](https://github.com/phetsims/coulombs-law/issues/47#issuecomment-364229995).

However, we did not consider the case of simply disabling/graying out the Scientific Notation checkbox when Force Valu

[2018-06-04 16:46] ariel-phet commented on #51
@arouinfar that change works for me

[2018-06-04 16:51] arouinfar commented on #51
Thanks @ariel-phet!

@mbarlow12 can you please make this change?

[2018-06-04 17:41] mbarlow12 commented on #51
Will do! @arouinfar will this apply to GFL as well?

[2018-06-04 17:44] arouinfar commented on #51
Great question @mbarlow12! Yes, this change would apply to GFL, as well.

[2018-06-05 00:48] mbarlow12 commented on #51
New dev depolyment:

https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-dev.17/phet/coulombs-law_en_phet.html

[2018-06-05 00:56] mbarlow12 commented on #49
Fixed by subtracting 1 from layoutBounds.minX. See the above commit—funny.

[2018-06-05 15:19] jessegreenberg commented on #49
@mbarlow12 could you please add a comment about why that is necessary? Is it related to the line width?

[2018-06-05 15:39] arouinfar commented on #51
Thanks @mbarlow12. CL and GFL are looking good!

[2018-06-05 15:39] #51 closed

[2018-06-06 02:53] mbarlow12 commented on #49
The lines all appear to be the same width except those connecting the charges to their arrows. I'm not entirely sure why this works. One possibility is how Shape draws the line? I haven't looked into it in detail; however, I doubt that everything in the model is shifted over by 1 pixel.

Perhaps this is worth investigating after the a11y work has cooled a bit.

[2018-06-14 16:27] jessegreenberg commented on #49
Thats what I suspected too, but I tried bumping up the line width and your fix still works. Thanks for looking into it, and I agree it doesn't seem worth more time now. Closing.

[2018-06-14 16:27] #49 closed

[2018-09-13 18:23] jessegreenberg opened #52 "Options in ISLCObjectControlPanel"
It seems like some of the options here are not used. For instance, I can't find where all of the options prefixed by `value` are used, are they passed directly to anything? I don't think so because options are generally filtered before being passed to things, and Panel doesn't use them. I also recommend changing these options to the "nested options" style that was agreed on, instead of using `_.pi

[2018-09-13 18:26] jessegreenberg commented on #52
Found while looking into https://github.com/phetsims/gravity-force-lab/issues/105.

[2018-09-13 21:26] jessegreenberg commented on #52
Ill do the same for tickLabelOptions.

[2018-09-13 22:18] jessegreenberg commented on #52
I went ahead with this and updated usages in CL and GFL. @mbarlow12 can you please review?

[2018-09-22 00:09] mbarlow12 commented on #52
@jessegreenberg looks good to me. Thanks for handling while I was away. Feel free to close.

[2018-09-22 00:56] #52 closed

[2018-10-28 13:08] samreid opened #53 "PhET-iO Production for all 3 sims"
In Thursday's PhET-iO meeting, we decided we would like to pursue PhET-iO production for gravity force lab basics + gravity force lab + coulomb’s law.  Here are the notes from the PhET-iO meeting:

EM: Main priority is GFLB, but it seems we could do all 3 at once.
KP: We don’t want to delay release of the a11y work, but it would be nice to get them published for PhET-iO
EM: We will finish the a11y

[2018-11-26 19:08] arouinfar commented on #53
In light of two failed attempts to schedule a non-Thursday meeting, and Thursday agendas generally being packed, I'm going to assign this to @ariel-phet to decide what priority this should have.

[2018-11-30 03:47] samreid commented on #53
Inverse Square Law Common PhET-iO Design Meeting

Allows reading data out for data stream, and allows customization, state.
Model data [all featured]: mass1Property, mass2Property, distanceProperty, forceProperty, position1Property, position2Property.

UI customization
[featured] visibility/enabled checkboxes
[featured] setting the value of each checkbox
[featured?] mass pickers enabled, visible
[

[2018-12-10 22:01] samreid opened #54 "CT: resetAriaValueText must be implemented in subtypes"
resetAriaValueText must be implemented in subtypes

[code]

[2018-12-10 22:31] mbarlow12 commented on #54
Fixed.

[2018-12-11 02:04] samreid commented on #54
Looks good, thanks!  Closing.

[2018-12-11 02:04] #54 closed

[2018-12-22 02:28] jessegreenberg opened #55 "visibility of line in ISLCLegendNode"
I noticed on CT that CL was using a reference to the legendArrowLine in ISLCLegendNode, and it looks like that was removed. I made the legendArrowLine `@public (read-only)` for this. Commit following, does this look right @mbarlow12?

I was watching this because I thought this might have an impact on the release of coulombs-law, but it looks like this change was well after 1.0 shas were taken and

[2018-12-22 03:37] mbarlow12 commented on #55
Thanks @jessegreenberg. It looks like I accidentally made the changes in `coulombs-law-1.0` and didn't pull them into master. Too much branch switching & picking today :/

[2019-01-02 21:04] arouinfar opened #56 "Add semi-transparent background behind Force string/value"
Suggested by @kathy-phet in https://github.com/phetsims/coulombs-law/issues/103:

I like this suggestion, but I think we could add a semi-transparent rectangle that matches the background color behind the entire force string (not just the value).
![image](https://user-images.githubusercontent.com/8419308/50379483-f6671800-0607-11e9-9759-fe9d71c888ad.png)

I think this is a change we should make ac

[2019-01-03 15:26] #55 closed, assigned to mbarlow12

[2019-01-22 16:14] samreid commented on #53
I'm wondering what the best plan would be for instrumenting this simulation.  Some possibilities:

1. Assign the responsible dev @mbarlow12.  Reasoning: It is valuable to have the responsible dev take care of the instrumentation since they have insight into the sim implementation that is critical for a good instrumentation.  Also, this could be a good learning experience for @mbarlow12.  Optionall

[2019-01-25 00:35] zepumph opened #57 "formatting issues"
there are quite a few files that don't adhere to phet's code style formatting, as I see them, I'll commit it to this issue.

[2019-01-25 23:14] zepumph opened #58 "Defaults provide room for sneaky errors"
There are multiple places in this suite where label/string default options are expected to be overwritten, but the default is just a string, like "generic label" or something.

Another similar pattern is that abstract methods in base classes through throw errors when called, but sometimes it is easier to comment that out since coulombs-law isn't being worked on in parallel.

I talked to @mbarlow12

[2019-01-27 22:32] mbarlow12 commented on #58
@zepumph at least regarding the default label options, my thought was to have it be very obvious when something might not be working properly. So if you ever see something like `object 1 label` or `default label` you'd know where to start tracing the bug.

As to the loud failures for abstract methods & classes, one quick solution would be to construct the minimal classes in Coulomb's Law to satisf

[2019-01-29 23:13] zepumph commented on #58
It is very cool that you have enough attention to detail that this is a loud error for you! Unfortunately I do not. It would be easy for me to gloss over something like this. I also worry if something changes in a few years, when someone isn't working as actively in the repo. I think assertions will be an improvement here, though I understand and agree that they may not have been the best choice w

[2019-02-05 17:45] pixelzoom opened #59 "no need to replace {{value}} with {0}"
See https://github.com/phetsims/scenery-phet/issues/446#issuecomment-460726349

NumberControl and NumberDisplay now support both '{{value}}' and '{0}'.  So...

In ISLCObjectControlPanel.js, this:

`90 valuePattern: StringUtils.fillIn( pattern0Value1UnitsString, { value: '{0}', units: unitString } ),`

can be changed to this:

`90 valuePattern: StringUtils.fillIn( pattern0Value1UnitsString, { units

[2019-02-05 19:28] pixelzoom opened #60 "5 TODO comments without associated issues"
5 TODO comments without associated issues.  I hit one of them while working on something else.

[2019-04-10 19:23] jessegreenberg opened #61 "Remove usages of uniqueGroupId"
From https://github.com/phetsims/scenery-phet/issues/485, this one was just a little trickier because gravity-force-lab is using one of the same "uniqueGroupId"s from inverse-square-law-common. I think the change was straight forward but @zepumph can you take a a look since you have been working on this sim recently?

[2019-04-10 19:30] jessegreenberg commented on #61
Sorry, I broke something, not quite ready.

[2019-04-10 19:50] jessegreenberg commented on #61
Alright, should be OK.

[2019-04-10 19:52] jessegreenberg commented on #61
In order to reference the utterances as instance variables I made some of the functions no longer static, hope that is OK. It seemed reasonable because I noticed some other alert functions were already not static.

[2019-04-17 15:49] jessegreenberg commented on #59
Thanks, done above.

[2019-04-17 15:49] #59 closed

[2019-04-18 19:14] samreid opened #62 "Lightly is misspelled"
During today's meeting, I noted some occurrences of `lighly`.  Assigning to @zepumph since he has recent commits in this area.

[2019-04-18 23:41] #62 closed

[2019-04-22 17:44] zepumph commented on #61
Those commits look totally fine to me. Thanks for taking care of this.

[2019-04-22 17:44] #61 closed

[2019-04-22 21:25] zepumph opened #63 "Remove *AlertManager and *Describer singletons pattern"
From https://github.com/phetsims/tasks/issues/994, we want to pass through these types, instead of keeping them all as globals.

[2019-04-23 01:13] zepumph commented on #63
This has been implemented above. Closing

[2019-04-23 01:13] #63 closed

[2019-05-06 20:57] ariel-phet commented on #53
At this point, I don't feel this work is likely to be scheduled anytime soon. In addition, more needs to settle with iO before this proceeds. Marking deferred. and removing assignees

[2019-05-21 21:26] zepumph opened #64 "rename forceValuesProperty => showForceValuesProperty"
This is a BooleanProperty, and would be more clear to be named as a boolean.

[2019-05-21 23:14] zepumph opened #65 "What is `PositionDescriber.centerOffset`?"
I've hit this a few times. To me, at first glance, it looks like hard coded numbers on the describer side that could possibly instead come from the model. I will need to investigate more though before understanding it further.

This issue is partly informed by the previous time I hit this, and created this TODO because I needed a hard coded 0 instead of being able to use the center offset. This ma

[2019-06-03 22:47] zepumph opened #66 "Use VerticalCheckboxGroup instead of custom ISLCCheckboxItem"
I'm unsure why there is a custom is solution here, even after looking at https://github.com/phetsims/inverse-square-law-common/issues/51.

It seems like we should be using VerticalCheckboxGroup, I'll take a look further. From https://github.com/phetsims/gravity-force-lab-basics/issues/134

[2019-06-17 19:53] zepumph opened #67 "Address TODOs in the code"
From https://github.com/phetsims/gravity-force-lab-basics/issues/134, currently there are 11.

[2019-06-17 22:08] zepumph opened #68 "positionDescriber.lastMoveCloser relies on focus events"
Promoting TODO from https://github.com/phetsims/inverse-square-law-common/issues/67,

It is a shame that this runs on focus. I'm actually not positive that this works correctly on mobile as is. We should sort this out before publication.

@jessegreenberg perhaps you have some ideas. Basically we set `lastMoveCloser` to null when focusing on a position slider, in effect "resetting the interaction."

[2019-06-17 22:09] zepumph commented on #67
All GFLB todos have been taken care of or promoted to their own issues. Closing

[2019-06-17 22:09] #67 closed

[2019-06-18 00:18] jessegreenberg commented on #68
It is a bummer that this is no longer simple to do. I can't think of any good way to do this. The `change` event is fired when the value was "committed" rather than every time it changed (https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/change_event), so I wondered about changing `focus` to `change` for these listeners. But `change` is still fired every value change form VO and not on

[2019-06-18 00:29] jessegreenberg commented on #68
What you recommend seems like a good way to do this, though I agree it does add complexity and won't be a perfect alternative.

A large part of me wonders if it is acceptable to ignore this on mobile and just make sure the sim runs gracefully in these cases. Mobile web accessibility currently does not support this kind of interaction and IMO it is because of things that are missing in the web spec

[2019-06-18 00:32] zepumph commented on #68
Let's talk about this tomorrow! Perhaps with @emily-phet.

[2019-06-18 22:35] zepumph commented on #68
@jessegreenberg and I discussed this today. Here is the actual feature that we find doesn't work on mobile:
* move a slider closer, hear that it says "closer
* tab away
* tab back
* move closer again, hear it doesn't say "closer" (because that var wasn't reset on focus"

If instead the second action was to move farther, then you would hear "farther away" because that is still different from the pr

[2019-06-18 22:35] #68 closed

[2019-06-19 00:11] zepumph commented on #64
I'll do this as part of https://github.com/phetsims/gravity-force-lab-basics/issues/134

[2019-06-19 00:11] zepumph commented on #57
This is largely taken care of. Closing

[2019-06-19 00:11] #57 closed

[2019-06-19 00:13] zepumph commented on #26
CL is already published. @jessegreenberg can you please give the state of this issue. What needs to be done here before GFLB can be published?

[2019-06-19 00:14] zepumph commented on #56
Just seeing this now. I will get to this before GFLB is published

[2019-06-19 00:46] zepumph commented on #60
The above commit in association with https://github.com/phetsims/gravity-force-lab-basics/issues/134 has gotten rid of all todos without issues associated with it. Thanks for the issue @pixelzoom. Closing

[2019-06-19 00:46] #60 closed

[2019-06-19 00:51] zepumph opened #69 "ISLCObjectNode.defaultDirection should use an Enumeration"

[2019-06-19 00:54] zepumph opened #70 "ISLCObjectNode should use nested options patterns"
Instead I see arrays like
`PULLER_OPTION_KEYS` and `ARROW_OPTION_KEYS` that are used with `_.pick`. Nested will look cleaner.

[2019-06-19 00:54] zepumph commented on #70
From https://github.com/phetsims/gravity-force-lab-basics/issues/134

[2019-06-19 00:54] zepumph commented on #69
From https://github.com/phetsims/gravity-force-lab-basics/issues/134

[2019-06-19 00:56] zepumph commented on #65
Since this issue was created. I realized that this had to do with the description that sounds like "4 meter mark". It is to give a distance that is based on the edge, instead of the center. That has been documented I think in `GravityForceLabPositionDescriber.CENTER_OFFSET`. Closing

[2019-06-19 00:56] #65 closed

[2019-06-19 01:00] zepumph commented on #58
With the above commit, there are no longer any options with default strings.

[2019-06-19 01:00] #58 closed

[2019-06-28 20:21] jessegreenberg opened #71 "ForceDescriber.forceToPullIndex function"
From https://github.com/phetsims/gravity-force-lab-basics/issues/156

The LinearFunction looks like

[code]

Can this use the string array length?
[code]

[2019-06-28 20:39] jessegreenberg opened #72 "Rename convertDistanceMetric?"
It looks like this is a function that formats the value for the descrption, could this be renamed to formatValue or convertPosition? The name made me thing this was possibly responsible for more (and maybe it is!). ForceDescriber has an optional function convertForce so convertPosition felt like a fitting name.

[2019-06-28 20:39] jessegreenberg commented on #72
For https://github.com/phetsims/gravity-force-lab-basics/issues/156

[2019-06-28 23:48] jessegreenberg commented on #26
This problem came up during developer meeting on May 30. From the developer meeting doc:

CM: Our policy in the past (and present?) has been not to move them, and require translators to re-translate.
JB: Yes, having translators re-translate is the current process.  We have scripts to move strings but the scripts aren’t ready for prime-time.
AP: Make an issue, put it in rosetta.  Mark it deferred.

[2019-06-28 23:54] jessegreenberg commented on #66
I think the motivation for removing VerticalCheckboxGroup in #51 was because VerticalCheckboxGroup does not currently support disabling a single checkbox in the group.

[2019-06-29 18:46] jbphet commented on #26
@jessegreenberg asked:

No, we don't need to make sure that the the English string file on master has all the strings from the last publication.  I can explain the details if needed, but the consequences of this move will be that the existing translations of GFLB will lose the translations of the strings that were moved the next time it is published from master.  This seems like a bit of a disserv

[2019-07-01 21:19] zepumph commented on #56
![image](https://user-images.githubusercontent.com/6856943/60467199-6a5f2a00-9c02-11e9-9ddb-637a40e84e67.png)

![image](https://user-images.githubusercontent.com/6856943/60467204-734ffb80-9c02-11e9-8aed-2187bbd8a629.png)

@arouinfar could I get a bit more direction on this. Here is one potential solution with a black background, with opacity at 40%.

I was thinking a few potential changes:
* Maybe

[2019-07-01 21:20] zepumph commented on #64
Oops. I'll get to this now.

[2019-07-01 21:36] #64 closed

[2019-07-01 21:38] arouinfar commented on #56
Sure thing @zepumph! The screenshot of Coulomb's Law in https://github.com/phetsims/inverse-square-law-common/issues/56#issuecomment-507429873 looks pretty readable to me, so opacity of 40% sounds good.

Agreed, the color should match the sim background, so it would be different across all three ISLC sims. The idea is to wash out the dashed line so the string becomes more readable, but we don't ac

[2019-07-01 21:53] ariel-phet commented on #26
@jbphet I think it is worth it - is that something you could perhaps document when you do it? Or have someone like Saurabh or such ride along and document so if it needs to be done in the future you don't have to be responsible? Or if documentation already exists, feel free to pass along the task to an intern.

[2019-07-02 00:11] zepumph opened #73 "ISLCObjectNode should use nested options"
There is an old pattern used here intead of nested options, which picks out `ARROW_OPTION_KEYS` and `PULLER_OPTION_KEYS` from options passed to `ISLCObjectNode`. This involves duplication, and could be improved.

[2019-07-02 00:12] zepumph commented on #56
That sounds excellent. I accidentally committed the patch, but I will sort things out now, after I deal with https://github.com/phetsims/inverse-square-law-common/issues/73

[2019-07-02 01:39] zepumph commented on #73
This was a bit of refactoring, but I like the change. Through it I also removed a lot of unused options, and converted a few to required params where it made sense. @jessegreenberg would you mind reviewing this since it was a fair bit of work. Thanks!

[2019-07-02 01:48] zepumph commented on #56
Sorry I misspoke earlier, the opacity that you see is 30%. In the above commits I made the color dependent on the background color. @arouinfar what do you think?

[2019-07-02 06:44] #69 closed

[2019-07-02 06:45] zepumph commented on #70
duplicate of https://github.com/phetsims/inverse-square-law-common/issues/73. Closing

[2019-07-02 06:45] #70 closed

[2019-07-02 06:47] zepumph commented on #71
That's a really nice improvement thanks.

[2019-07-02 06:47] #71 closed

[2019-07-02 06:54] zepumph commented on #72
I went with `formatDisplayDistance`. What do you think?

[2019-07-02 07:55] zepumph commented on #66
@jessegreenberg in the above commits I added support to VerticalCheckboxGroup to support individual options passed to a single checkbox. From that it was easy enough to pass a custom enabledProperty to the scientific notation checkbox. Please review. Note that this changed the layout of the checkbox panel by a few pixels (not greatly). What do you think about this change?

[2019-07-02 16:34] arouinfar commented on #56
👍

The ISLC sims all look great in master, thanks @zepumph!

[2019-07-02 17:08] jessegreenberg commented on #66
Awesome, thank you! What do you think about changing the order of options for the extend call to
[code]

so that the group options can be overridden by individual options?

[2019-07-02 17:12] jessegreenberg commented on #72
Thanks, I like it!

[2019-07-02 17:12] #72 closed

[2019-07-02 18:01] jessegreenberg commented on #73
Changes look really good overall and I like how merge is looking. The only thing I noticed is that the pusher images look like they are pushing harder for a given force than they are in the published version.

[2019-07-02 19:42] jessegreenberg commented on #73
Scanning through commits, it looks like `pullRangeMultiplier` option was removed from ChargeNode and CoulombsLawAtomicView, that may be the cause.

[2019-07-02 19:44] zepumph commented on #66
Great idea! I also needed to do some cleanup in terms of how we were passing enabledProperty through (mainly for phet-io related problems). @chrisklus was a great help in simplifying. His idea was to just use the `showForceValuesProperty` as the enabledProperty, so there was no proxy/intermediary needed. @jessegreenberg anything else for this issue?

[2019-07-02 19:44] zepumph commented on #56
Good deal! I'm not planning on maintenance releasing this. Let me know if you feel differently. So things will be picked up next publication. Closing

[2019-07-02 19:44] #56 closed

[2019-07-02 19:49] zepumph commented on #26
Does this need to be done before publication? I believe so, but wanted to be sure. For now note that this is one of the last two items to do before going to RC for GFLB (see also https://github.com/phetsims/gravity-force-lab-basics/issues/166). Marking as high priority.

[2019-07-02 19:52] jessegreenberg commented on #73
I think I tracked it down to a different issue, 35ad0608840ab146746cb8a67b69bc32a7163d8f in https://github.com/phetsims/gravity-force-lab-basics/issues/120.

Otherwise things look really good here and I am excited to use merge more.

[2019-07-02 20:00] zepumph opened #74 "ISLC Checkbox appendLabel default?"
ISLC uses `appendLabel: false`, but Checkbox.js by default appends the label.

@terracoda is there a reason why ISLC checkboxes have the label before the checkbox, but all other checkboxes have the label after?

My preference, if there is no strong reason otherwise, would be to remove the override in ISLC and have all checkboxes behave the same. This would mean the ISLC checkboxes would change so

[2019-07-02 20:05] #73 closed

[2019-07-02 20:06] zepumph commented on #73
Yes indeed! I have been taking it for a test drive in part for the review in https://github.com/phetsims/phet-info/issues/91. Hopefully we can consider it production ready before too long since wave interference in ISLC sims are about to be published. See that issue before committing fully to that pattern.

[2019-07-03 15:45] terracoda commented on #74
@zepumph, I think in the PDOM labels have always come before the actual checkbox element.

Can you verify that some how?

[2019-07-04 11:05] terracoda commented on #74
Hmm, @zepumph, for regular visual checkboxes, it might be ok to have the input first. I'm looking into this.

[2019-07-05 11:42] terracoda commented on #74
@zepumph, looks like I have been inconsistent in terms of where we put the labels in the PDOM.

I just a review of some our latest A11y Sims. And this is what I found:
1. BASE and MAL radiobutton labels come after the radio inputs
2. BASE’s checkbox is special - uses an aria-label attribute
3. RIAW (and OL’s), and MAL, GFLB, GFL all the slider labels come first
4. Molarity Solution Values checkbox

[2019-07-05 20:03] jbphet commented on #26
@jessegreenberg - I started taking a look at this, but I'm a bit confused.  In https://github.com/phetsims/inverse-square-law-common/commit/62c9373a32a8a463cf1ba114e60e75c5acf3c648, it looks like the strings were added to the inverse-square-law-repo, but the strings that were added in that commit don't appear to have been removed from `gravity-force-lab-strings_en.json`.  Am I missing something he

[2019-07-08 15:31] terracoda commented on #66
@zepumph and @jessegreenberg, the disabling option has been working visually, but I don't think it has ever worked in the PDOM. In the screenshot you can see that the disabled check box is focusable and checked.
<img width="696" alt="Screen Shot 2019-07-08 at 5 24 14 PM" src="https://user-images.githubusercontent.com/1902116/60822441-c0edda80-a1a5-11e9-9095-3707bc410e81.png">

This checkbox issue

[2019-07-08 15:47] terracoda commented on #26
@jbphet, the "mass 1" and "mass 2" strings are the names for the mass spheres in GFL:Basics. In GFL regular, the mass spheres' names are "m1" and "m2".

Does that help?

[2019-07-08 16:25] terracoda commented on #26
Oh, @jbphet, I see the labels are in this file for GFLBasics
https://github.com/phetsims/gravity-force-lab-basics/blob/master/gravity-force-lab-basics-strings_en.json

So back to your original question in https://github.com/phetsims/inverse-square-law-common/issues/26#issuecomment-508851313

[2019-07-08 16:37] jessegreenberg commented on #26
Sorry for the confusion, it looks like the strings in gravity-force-lab-strings_en.json could be cleaned up a bit. It would help to know exactly what changed in the strings file.

Here is the diff between 1.2 release branch and master for gravity-force-lab-strings_en.json:
<details>

[code]
</details>

So the following string keys were removed from gravity-force-lab-strings_en.json and put in inve

[2019-07-08 17:16] jbphet commented on #26
I've reviewed the information above and @jessegreenberg just had a zoom conversation about this.  It turns out that not only have the strings been moved, they have also in most cases been renamed (as noted in the comment just above), and in some cases the pattern type has been changed (from the older single-brace style to the newer double-brace style).  This makes the process of moving them much m

[2019-07-08 17:45] jessegreenberg commented on #26
@jbphet also confirmed that these can be removed from gravity-force-lab since they were moved to inverse-square-law-common and that was done in the above commit.

[2019-07-08 17:47] zepumph commented on #66
Sounds good. @terracoda see https://github.com/phetsims/sun/issues/517 for the general solution. Anything else for this issue?

[2019-07-08 18:15] zepumph commented on #26
I discussed the above changes over with @jessegreenberg and it seems like the Mass1/2  strings should be in GFL instead.

[2019-07-08 18:16] zepumph opened #75 "Audit all strings before new publication"
From https://github.com/phetsims/inverse-square-law-common/issues/26, it would be good to make sure that all strings are in tip top shape before next publications of GFLB and then later GFL.

[2019-07-08 18:17] zepumph commented on #75
I see that in CL there is a duplicated string with a different key from the GFL sims:
* In CL: `moveInSmallerStepsLabel`, in GFL `moveInSmallerSteps` (and same with largerSteps)

[2019-07-08 18:21] zepumph commented on #75
- [ ]  `constantSize` is in ISLC but only used by GFL and GFLB

[2019-07-08 18:28] zepumph commented on #26
@ariel-phet if you feel like it is acceptable to leave the babel data alone, and require new translations upon next release, I think this issue is ready to close.

[2019-07-08 18:50] zepumph commented on #75
Alright, I made changes above that made sense to me. There were a few places where I elected to keep things as is, because it seemed more like an orthogonal change that could just be reverted in the future, like when CL get's descriptions.

[2019-07-08 18:50] #75 closed

[2019-07-08 19:17] zepumph commented on #74
@terracoda I could not reproduce the duplication in Chrome/windows. I also couldn't see any differences between the GFL and Molarity checkboxes. Above I removed the ISLC specific override for the checkbox label position. So now Molarity and and GFLB and GFL should all have the label after the checkbox. Does this make the ISLC sims have a repeated label like we were seeing in Molarity.

This change

[2019-07-08 19:19] jessegreenberg commented on #66
Changes look great, and since the issue @terracoda mentioned is going to be tracked elsewhere I think this can be closed.

[2019-07-08 19:19] #66 closed

[2019-07-10 16:02] ariel-phet commented on #26
All sounds good to me. Closing

[2019-07-10 16:02] #26 closed

[2019-07-23 19:35] zepumph opened #76 "ISLCModel.getMaxForce() is wrong"
Discovered because of constants added by @jbphet in `ForceSoundGenerator` as part of https://github.com/phetsims/gravity-force-lab-basics/issues/166.

the max force is actually calculated from the min distance when the radius is constant.

[2019-07-23 20:30] zepumph commented on #76
The bug was that ISLC.getMaxForce assumed that the largest mass and the closest they could get was the max force, but actually when constant radius is on, the densest balls can actually get much closer, by a force factor of ~4. The above logic fix changed the range of a few mapped view elements from about 0-1000 to 0-4000. The effected items were:

* The force arrows above each mass. They are now

[2019-07-23 20:32] zepumph commented on #76
To test, please compare phettest:
http://phettest.colorado.edu/gravity-force-lab-basics/gravity-force-lab-basics_en.html?ea&brand=phet
http://phettest.colorado.edu/gravity-force-lab-basics/gravity-force-lab-basics_a11y_view.html?brand=phet&ea

 to dev 41:
https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.0.0-dev.41/phet/gravity-force-lab-basics_a11y_view.html
https://phet-dev.colorado.

[2019-07-24 12:27] terracoda commented on #76
@zepumph, there is now a strong visual force change when spheres are "closest" with Constant Size checked and the user unchecks Constant Size:
<img width="685" alt="Screen Shot 2019-07-24 at 2 26 53 PM" src="https://user-images.githubusercontent.com/1902116/61793329-30f39600-ae1f-11e9-9d71-b04e778dcd76.png">
<img width="688" alt="Screen Shot 2019-07-24 at 2 27 19 PM" src="https://user-images.githu

[2019-07-24 12:28] terracoda commented on #76
Ooops, I wasn't ready to post. Will add comments...

[2019-07-24 13:18] terracoda commented on #76
@zepumph, I started a new issue so this issue can focus on your original questions.

[2019-07-24 13:40] terracoda commented on #76
@zepumph, so I was already a little concerned with a visual mismatch between the described size of the arrows and the actual on-screen size. I think, this change accentuates the visual mismatch. We might have to adjust the ranges for all description scales that are connected to the size of the force.

For example, after the Constant Size checkbox is changed to not checked, the force and the force

[2019-07-24 13:51] terracoda commented on #76
@zepumph, what if we adjusted the lower end of the scale as well.
Visually, I would only like to describe the arrows as "huge" if they are almost off the screen or off the screen. But in terms of newtons, I don't actually know what "huge" is.

[2019-07-25 12:25] terracoda commented on #76
@zepumph, when I originally created the force arrow size descriptions and the counter force of the robots pullin in GFL Regular, I thought these descriptions would be directly related, somewhat like this:

Size of Force VectorsFor comparison | Estimated range in newtons | Effort of Robots(counter force)
-- | -- | --
tiny | 0.000 289 - 0.041 712 | pull very little
very small | 0.041 713 - 0.074 154

[2019-07-25 12:29] terracoda commented on #76
Given, a "huge force vector", I thought the robots would have to "pull very hard" to keep spheres in place? In the second screenshot above, this pairing is not correct, if I am understanding this correctly?

[2019-07-25 16:43] jessegreenberg commented on #76
Great catch @zepumph, thanks. A lot of discussion happened [here](https://github.com/phetsims/coulombs-law/issues/27) and [here](https://github.com/phetsims/inverse-square-law-common/issues/21) about arrow scale design, we probably want to make sure that those decisions are preserved. I think the most important thing was "When the arrows are on screen, the arrow size should scale with force." So i

[2019-07-25 22:29] arouinfar commented on #76
@zepumph I'm on mobile, so I can't check phettest, but I will try to review tonight.

@terracoda the ranges in https://github.com/phetsims/inverse-square-law-common/issues/76#issuecomment-515022872 should be evenly divided. As @jessegreenberg mentioned, the arrow scaling is linear.

That's correct. Each robot position should map to a single size of force, so from that perspective, your table looks

[2019-07-29 18:06] zepumph commented on #76
The scale is still linear, the range has just quadrupled, so what used to be the max (~1000) is now about one third of the screen width.

I'm not really sure how to proceed with this. To me it feels like we should get the visuals how we want it, and then worry about matching the description regions back onto the visuals more accurately. With that in mind I think this is waiting for a review by @ar

[2019-07-29 19:54] arouinfar commented on #76
@zepumph the current max length is too short. Compare latest (top) to master (bottom). When the force is at its max, it's fine for the arrow to spill out-of-bounds. I would double the current max length to give us more range.

![image](https://user-images.githubusercontent.com/8419308/62077639-d20b9380-b207-11e9-9184-2b40531e6e96.png)

@zepumph it also seems like the figure's stance is not being p

[2019-07-29 21:32] zepumph opened #77 "Should arrow min width go to zero for gravity force sims?"
As part of https://github.com/phetsims/inverse-square-law-common/issues/76, @arouinfar and I discussed that the arrow width needs to be able to go to zero for Coulombs Law to accept a zero charge, but we were on the fence if this was the best way to display gravity force lab (basics). In GFL the force range is currently set up so that with small forces the arrow basically disappears. Perhaps that

[2019-07-29 21:33] zepumph commented on #76
@arouinfar and I discussed this on zoom. We thought through the best ways forward, and think that it makes sense to have a bit of "hollywooding" in the range maximum for the puller and arrows. Before this bug fix, we were treating all values greater than the max force possible with constant size not checked as the largest region (i.e. longest arrow and pulliest puller). So now we are going to do s

[2019-08-02 14:47] terracoda commented on #77
We need to also keep in mind that the arrows do not "disappear" in the descriptive experience. The smallest described category is "Force vectors tiny".

Personally, I think it would be nice if the vectors were still somewhat visible when "tiny", but I can live with it as long as other designers feel that "no visual appearance" is still conceptually "tiny".

[2019-08-02 15:28] arouinfar commented on #77
Currently, when the force dips below 10^-10 N, the vector completely disappears. This could be a good opportunity to discuss scaling and precision.

![image](https://user-images.githubusercontent.com/8419308/62379970-56f6f580-b505-11e9-908a-8e88ae265ea2.png)

Alternatively, we could set a minimum vector size, perhaps something like this:
![image](https://user-images.githubusercontent.com/8419308/6

[2019-08-02 17:40] terracoda commented on #77
Since this issue involves Coulomb's Law I updated the table in https://github.com/phetsims/inverse-square-law-common/issues/76#issuecomment-515022872 so it now includes a zero and the potential "push" forces.

[2019-08-02 17:46] terracoda commented on #77
I agree with @arouinfar, that descriptions should be somewhat parallel with the visuals.
Since forces can be zero in Coulomb's Law, it would make sense to me to keep the force vectors showing a tiny bit except when the force is zero.

[2019-08-02 18:51] arouinfar commented on #76
@zepumph I think the approach of dividing `modelMaxForce` was a bit naive. I tried something like this:

[code]

That didn't seem to make any difference, so I tried dividing by 1000 instead, which still didn't do anything. Perhaps there's something we're missing?

[2019-08-03 08:00] terracoda commented on #76
@arouinfar, I think in one of your comments you said both distance and mass had linear relationships, but early in my design work, jesse or @zepumph made these plots for me. Based on these plots, I was always under the impression that distance seemed to have a more dramatic effect on the force vectors. I think the first plot is for distance and the second one is for mass?
<img width="367" alt="Scr

[2019-08-03 08:01] terracoda commented on #76
Of course, the plot should now go to 4000 instead of 1000 if I am understanding the error correctly.

[2019-08-03 14:41] arouinfar commented on #76
Sorry for the confusion @terracoda. What I meant is that the arrow size should scale linearly with the **force**. The force itself scales linearly with mass or inversely with radius (as in the plots you shared). In previous versions of GFL (predating ISLC siblings) the force vector did not scale linearly with the force, and the conversations around changing this were linked in @jessegreenberg's ht

[2019-08-05 19:55] terracoda commented on #74
@zepumph, yes, I get duplication on all checkboxes now (Molarity, GFL, GFLB).
I thought I was going a little crazy in https://github.com/phetsims/molarity/issues/133#issue since I hadn't noticed this issue before commenting and closing https://github.com/phetsims/molarity/issues/133#issuecomment-518321952 ...

I have no idea why I was not hearing duplication in GFL and GFLB  before your change in

[2019-08-06 16:49] ariel-phet commented on #77
I am OK with a minimum size. When vectors are of a reasonable size you get some visual "scaling" effect references (eg oh, look the force is now approximately double). However, when the forces are this small (to be considered "tiny") I think the minimum size vector shown above will not cause any confusion. It pretty clearly send the "this is a very small quantity" message.

But yes, I agree, in Co

[2019-08-06 19:05] zepumph opened #78 "Convert SimpleDragHandler -> DragListener"

[2019-08-06 23:45] zepumph commented on #77
@arouinfar, when ready can you please consolidate this discussion into a recommendation for me to implement. I think it would be possible to keep a minimum arrow and flip it when the forces change direction in CL. That doesn't handle the "zero" case though.

Unassigning for now.

[2019-08-07 01:44] zepumph commented on #76
@arouinfar I fear this may be a caching problem. I was just able to do this locally on my side just fine. One you change that value, try adding a random query parameter to the url, like `?fjdskalfds` and see if that fixes it. You can also try refreshing multiple times in a row, or go to a new `incognito/private` window. See how that goes.

[2019-08-07 02:32] #78 closed

[2019-08-07 20:47] arouinfar commented on #77
@zepumph for GFL(B), please add a minimum arrow size. I think this would be about the right size:
![image](https://user-images.githubusercontent.com/8419308/62656813-450cbc80-b922-11e9-8328-79f3858fc365.png)

[2019-08-08 22:05] zepumph commented on #74
Oh sorry, I'm just seeing this now. @terracoda please assign me to any issue you would like my feedback on.

That sounds good. I will make the label first on all checkboxes.

[2019-08-08 22:07] zepumph commented on #74
@terracoda please review. All checkboxes in the project should now prepend the label, so order should be: label, input, help text.

[2019-08-08 22:39] zepumph commented on #76
Above I committed the change to clamp the force by half. Perhaps that can help testing on phettest. Let me know how else I can help.

[2019-08-08 22:40] zepumph commented on #77
![image](https://user-images.githubusercontent.com/6856943/62742272-646f1c80-b9ea-11e9-8e11-5df87d2cb827.png)

Closing

[2019-08-08 22:40] #77 closed

[2019-08-08 22:43] zepumph commented on #76
Currently this is one of the only issues GFLB RC is waiting on.

[2019-08-10 18:01] terracoda commented on #74
@zepumph, I verified that I am no longer hearing duplication in any of the checkboxes (GFLB, GFL, Molarity).

I have no idea why having the labels after the checkboxes causes duplication, but I think this is something I should document somewhere, maybe in the design pattern for checkbox.

Thanks for making the change. Closing issue.

[2019-08-10 18:01] #74 closed

[2019-08-10 18:41] terracoda commented on #74
@zepumph I added a note to https://github.com/phetsims/sun/blob/master/doc/Checkbox.md

[2019-08-20 18:04] zepumph commented on #76
@arouinfar is still out of town this week. It would be nice to move on with GFLB RC before she gets back. We had discussed clamping together in a meeting, so I feel good about moving forward with this solution. The only tweak to be made is the clamping coefficient applied. This number would be easy enough to maintenance release if it needs to be changed. So I will leave this open and assigned to @

[2019-08-20 18:05] zepumph commented on #76
Furthermore I feel good about this approach because it is the same as what is currently published in GFL regular.

[2019-08-22 22:53] zepumph commented on #76
Today At design meeting, @arouinfar @kathy-phet and @ariel-phet dove into this, and we came up with a new strategy for writing this linear function. Commiting the first draft now

Furthermore, @ariel-phet mentioned that perhaps the best way to map the arrow length is with two linear functions. He and @kathy-phet are going to work on that more.

[2019-08-23 00:11] zepumph commented on #76
@kathy-phet please use phettest to determine the next steps for these arrow tweaks.

[2019-08-23 19:26] zepumph commented on #76
@kathy-phet and I had a meeting about this today where we found values. Commits coming shortly.

[2019-08-23 20:58] zepumph commented on #76
There are now two mapping functions set up in GFL(B). @arouinfar and @terracoda please review phettest. CL should be the exact same as before these commits.

[2019-09-09 20:29] zepumph opened #79 "Updates to ISLCObjectNode's label text"
From work instrumenting GFL for PhET-iO, there are some new problems with the label text for the ISLCObjectNode. Originally the goal was to instrument both the label and shadow text as a single element, but that added too much complexity, and caused https://github.com/phetsims/gravity-force-lab-basics/issues/172. So as a result in https://github.com/phetsims/gravity-force-lab/issues/175 we decided

[2019-09-09 22:24] zepumph commented on #79
The issue outlined in the above screenshot was because lineWidth was not supported by RichText. I added it over in https://github.com/phetsims/scenery/issues/998, and that is out for review. Note that there are a few artifacts on the tops of letters, I asked @jonathanolson for his opinion on those over in that issue.

@ariel-phet  @arouinfar  please review how master looks for the three sims, and

[2019-09-09 22:25] zepumph commented on #79
Also note that the texts should now be back to their original size (re https://github.com/phetsims/gravity-force-lab-basics/issues/172), and confirming that would be good to do also.

[2019-09-09 22:47] zepumph commented on #76
@arouinfar do the visual arrows look good in GFL(B) now? Can this issue be closed?

[2019-09-09 23:07] zepumph commented on #76
Oh I just found this review from @ariel-phet:

What do you think @arouinfar?

[2019-09-11 16:02] ariel-phet commented on #79
@zepumph, for lack of a better term, the current text on master looks kind of "janky" and a bit blurry, I don't think it is a reasonable solution yet.

I suppose I don't know exactly what `TextWithShadow` does, but would it be possible using RichText to just layer a black letter under the white letter, slightly displaced? Is that what TextWithShadow already did?

[2019-09-11 17:44] zepumph commented on #79
`TextWithShadow` took two texts, one white and one black, and put them on top of each other, with the black one on bottom and a little offset. The issue was that then we have two texts to instrument and keep in sync. I'm not really sure what the general solution here is. I'm going to mark for developer meeting to see if others have an idea.

For developers, the goal is to have a shadow-like text,

[2019-09-11 20:03] arouinfar commented on #79
@zepumph thanks for getting the stroked text up and running! I generally agree with @ariel-phet.

When the browser window is maximized, the outline looks pretty good. However, the text is harder to read at smaller resolutions, and doesn't scale very for long strings (even in a maximized window).

The shadow text is easier to read when the text is small.
![image](https://user-images.githubuserconte

[2019-09-11 20:18] arouinfar commented on #76
@zepumph the arrow scaling in GFL(B) is generally looking pretty good. I do find the size of the vectors in the default configuration to be a bit small, however.

For GFL, I think we can go ahead and bump up the default masses to 100 kg and 400 kg and that would take care of the scaling issues.

For GFLB, the range of masses is much smaller, so I don't really want to increase the defaults. Is ther

[2019-09-11 21:21] zepumph commented on #79
@pixelzoom had a helpful comment over in https://github.com/phetsims/scenery/issues/998#issuecomment-530568890:

[2019-09-11 21:46] arouinfar commented on #79
In principle, I agree, but that's not possible here. With the Constant Size option, the color varies from nearly white to fully saturated red or blue. Black text would look best for low densities, but becomes unreadable when the color of the mass is fully saturated. White text would look best for high densities, but would be impossible to read at the lower end of the spectrum.

I'd be fine with gi

[2019-09-12 03:25] samreid commented on #79
We should continue the development of SCENERY_PHET/ShadowText.js and instrument it (without instrumenting the inner 2 Text instances--they are an implementation detail).  We should strive to give our Text types similar PhET-iO interfaces: RichText, ShadowText, Text (maybe others?) should have `setText`, `setFontOptions`, `setMaxWidth`, etc.

[2019-09-13 19:45] arouinfar commented on #76
GFL and GFLB are looking great @zepumph! Since the changes have all been committed to master, I'll go ahead and close.

[2019-09-13 19:45] #76 closed

[2019-09-13 19:53] arouinfar commented on #79
@zepumph I'm liking the transparent background! The padding, corner radius, and bold font all look good to me. I would like to bump the opacity up to 0.6, to help boost the contrast of the text when the color is fully saturated.

As an aside, I don't love how the labels spill over a bit in constant size mode in GFLB. Could we bump up the size of the masses just a tiny bit? If the size in GFL and G

[2019-09-13 22:07] zepumph commented on #79
In the above commits I did the following work:

* Added a common code type called BackgroundNode, which is used by ISLC
* made the GFLB constant radius value bigger (not GFL).
* Tweaked Coulombs Law to try to make that look alright under the current conditions discussed above.
  * One of these tweaks was to place the labels on the atomic scale at a bit of an offset, this way they didn't overlap. T

[2019-09-16 15:46] ariel-phet commented on #79
@zepumph @arouinfar I generally like the direction, however, a few tweaks

1. @zepumph on Coulomb's Law on the Atomic scale, things don't look very good. I think for that screen just go with white lettering and no stroke (the visual appearance of the published sim), That seems far superior

2. On Coulomb's Law on the Macro Scale I think darkening the background slightly would be nice for the text

[2019-09-17 02:18] zepumph commented on #79
(1) should be completed in the above commit.

[2019-09-17 19:23] zepumph commented on #79
During my prototyping, I accidentally committed a change making the font bold. I removed that above, and I think that fixed the sizing discrepancies for GFL:B.

(2) and (4) both seemed like they could be solved by increasing the opacity, which I did generally (simplifying the ISLC code to use the same default as the common code type). Now all the backgrounds should be a bit darker. The same as for

[2019-09-17 23:01] arouinfar commented on #79
Coulomb's Law is looking nice!

It's definitely an improvement, but I think I would like to see the mass in Constant Size mode ever-so-slightly bigger so there's a bit of negative space between the corner of the label and the edge of the mass. This is still looking pretty tight to me.

![image](https://user-images.githubusercontent.com/8419308/65085740-77bbc300-d96c-11e9-86f1-78c24fb85afd.png)

Th

[2019-09-18 15:33] ariel-phet commented on #79
@arouinfar @zepumph I think I am just not liking the way these backgrounds look when the mass gets slightly smaller than the background text box. It also seems like the moment someone changes that text in iO, it just won't work well.

(Coulomb's law looks fine currently)

What about if we just move the label off the masses, and just have it "stick" a fixed distance from the bottom center of the ma

[2019-09-18 15:34] ariel-phet commented on #79
And obviously above, the font sizes could probably be a bit smaller, and things could be shifted a bit if we wanted more negative space for the ruler.

[2019-09-18 15:44] arouinfar commented on #79
@ariel-phet @zepumph I like that idea! I would keep the text the same, but relocate it to the bottom of the mass. The label positioning in @ariel-phet's mockup looks good.

Another way we can optimize for longer strings, would be to have smart labels that shift away from one another when the masses are close. This certainly isn't critical, but would be a nice touch.

I could see a client wanting t

[2019-09-18 20:45] arouinfar commented on #79
@zepumph I saw this sim went up for rc in https://github.com/phetsims/QA/issues/429 (exciting!), but I think we'll want to include the label positions suggested by @ariel-phet in https://github.com/phetsims/inverse-square-law-common/issues/79#issuecomment-532740185 in the 1.0 release.

The label shifting to avoid overlaps isn't necessary for 1.0, and if we decide to go there, could get folded into

[2019-09-19 00:13] zepumph commented on #79
Agreed! I was expecting to patch in the final touches to this issue, but I wanted to get that test going sooner.

[2019-09-20 23:34] zepumph commented on #79
I added the labels below the object in the above commit. This involved small tweaks to the default ruler positions. It is possible, like @arouinfar stated above, to have labels overlap under certain conditions with longer labels specified by PhET-iO. It doesn't bother me too much though.

@arouinfar @ariel-phet how does this look?

[2019-09-23 17:11] ariel-phet commented on #79
@zepumph looking pretty good to me. Just one minor tweak:

- In Coulomb's Law, Macro Scale screen, I would center the ruler vertically in the negative space (right now, default position is a little too close to the charge labels)

[2019-09-23 17:16] arouinfar commented on #79
The labels look great @zepumph.

Agreed, I would shift the ruler down to about here:

![image](https://user-images.githubusercontent.com/8419308/65447300-74ed2200-ddf3-11e9-8dec-b9eb070eafa1.png)

[2019-09-23 23:23] zepumph commented on #79
Thanks. Implemented above. I'll cherrypick what's needed into the rc now. Closing

[2019-09-23 23:23] #79 closed

[2020-01-21 20:29] zepumph opened #80 "Change "location" to "position" in ISLC repos"
From https://github.com/phetsims/phet-info/issues/126, we have decided to standardize on "position" instead of "location".

[2020-01-21 20:35] #80 closed

[2020-03-22 22:52] zepumph opened #81 "move a11y strings into main strings json"
From phetsims/chipper#795

[2020-03-24 00:04] zepumph commented on #81
This refactor is done now. @jessegreenberg will you spot check please.

[2020-04-07 01:33] zepumph commented on #81
I messed up a bit, but just fixed it above.

[2020-06-09 16:18] pixelzoom opened #82 "CT: Lint failed"
[code]

[2020-06-09 16:22] pixelzoom commented on #82
While you're in there, there's a typo in the doc for `deactivateSpeakablePath`. Search for "hittble".

[2020-06-09 16:24] pixelzoom commented on #82
While you're in there, there's a typo in the doc for `deactivateSpeakablePath`. Search for "target hittble".  I would have corrected it, but I have no idea what a "target hittable" is, and I don't see that term used elsewhere in the file.  It seems like "target" would be sufficient.

[2021-03-08 19:02] zepumph opened #83 "Support dynamic ISLCObject.positionProperty.rangeProperty"
I reverted an old workaround in https://github.com/phetsims/phet-io-wrappers/issues/45#issuecomment-786379647 that broken the dynamic range in ISLCObject. We had worked around this by not instrumenting the range dynamically, and then setting phetioStudioControl false on the position sliders. Regardless of how we support studio, it is incorrect that the range can be so out of sync since it is updat

[2021-03-08 19:24] zepumph commented on #83
I don't think now is the time to spend the time on this. Here is my current patch. It isn't working well. Basically the sim is quite poorly set up to not produce intermediate states between range and position values. For now I will revert https://github.com/phetsims/inverse-square-law-common/commit/0e01429bf79e08630360ef852d7ddf85b11fb11f, which causes this problem, until I can get back to it.

[c

[2021-03-08 19:25] zepumph commented on #83
Unassigning until working on this repo again.

[2021-03-11 16:13] jessegreenberg commented on #81
The organization of the strings file looks very nice and has been working well, closing.

[2021-03-11 16:13] #81 closed

[2021-04-20 22:49] zepumph opened #84 "branch: describer-temp"
Should be re-deleted as part of phetsims/special-ops#198

linked to https://github.com/phetsims/gravity-force-lab-basics/issues/160 originally

[2021-04-20 22:50] zepumph commented on #29
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:50] zepumph commented on #24
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-23 16:52] zepumph commented on #84
Deleted

[2021-04-23 16:52] #84 closed

[2021-04-23 16:53] zepumph commented on #29
Deleted

[2021-04-23 16:53] #29 closed

[2021-04-23 16:54] zepumph commented on #24
Deleted

[2021-04-23 16:54] #24 closed

[2021-08-17 17:06] zepumph opened #85 "Alerting, non-node types should use AlertManager.js"
From https://github.com/phetsims/utterance-queue/issues/13, the new pattern for alerting to descriptionUtteranceQueue is to go through a Node, thus we need non-node types to extend `AlertManager.js` to access said Node.

UPDATE: the common code type is now called `Alerter.js`

[2021-08-24 15:54] jessegreenberg opened #86 "Delete CursorSpeakerModel"
It was from an old prototype related to Voicing and should now be deleted.

[2021-09-01 20:01] zepumph commented on #85
Also similar to https://github.com/phetsims/greenhouse-effect/issues/70, in https://github.com/phetsims/utterance-queue/issues/13, @jessegreenberg volunteered to take this on, but I think to begin with I would like to do a first pass. It will be a fair bit of work and I would like to see it done sooner rather than later.

[2021-09-01 20:33] zepumph commented on #85
Oh, oops, I see more in the ruler describer, one commit coming in hot!

[2021-09-01 20:47] zepumph commented on #85
Ok. Now I think we are ready for a review. In general I just tried to make things as simple as possible. I know we will have work to do if/when we make coulombs law support description.

[2022-10-05 21:03] jessegreenberg opened #87 "Dragging a puller shifts the object upon move"
If you drag an object by the puller the initial translation gets way offset and the puller is detached from the mouse. It is as though this clickOffset may have changed, so Ill bet its actually a problem for all ISLC sims

[code]